/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
}

.main_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    max-height: 100px;
    margin: 0 auto;
    padding-left: 1.5em;
    padding-right: 1em;
    border-bottom: 1px #F4F3F4 solid;
}

.main_nav__logo {
    margin: .5em 0 .5em;
    max-width: 125px;
    min-width: 100px
}

#hamburger {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items: center;
    width: 18px;
    height: 30px;
    margin-right: 1em;
    cursor: pointer;
}

#hamburger span {
    width: 18px;
    height: 2px;
    background-color: grey;
    margin-top: 4px;
}

.hamburger_menu {
    position: absolute;
    left: 100%;
    top: 0;
    width: 100%;
    min-height: 300px;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
    transition: left .75s ease-in;
}
.is__open {
    left: 0;  
    transition-timing-function: ease-out;
    transition-duration: .5s;
}

.logo_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;   
}

#close_hamburger_menu {
    width: 27px;
    height: 30px;
    cursor: pointer;

}

.nav__list {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: flex-start;
    align-items: center;
}

.nav__link {
    width: 100%;
    font-size: 1rem;
    font-weight: bold;
    color: #1d1d1d;
    text-decoration: none;
    margin: .5em 0;
    padding: .5em 0 .5em;

}

.header {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    color: #5b5e6d;
    text-align: left;
    padding-left: 2em;
    padding-right: 2em;
    font-size: 1.25rem;
    font-weight: lighter;
    line-height: 2rem;
}

h1 {
    font-size: 3rem;
    line-height: 3.25rem;
    text-align: left;
    color: #2C303F;
    margin-bottom: .5rem;
}

.sign_up {
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.sign_up__input {
    font-size: 1rem;
    font-weight: lighter;
    padding: 1rem;
    border-radius: 5px;
    border: 1px #F4F3F4 solid;
    margin-bottom: 1.5em;
}

.sign_up__button {
    font-size: 1rem;
    padding: 1rem;
    color: white;
    background-color: #192592;
    border: none;
    border-radius: 5px;
}

.sign_in {
    align-self: center;
}

.social_proof {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    color: #5b5e6d;
    text-align: left;
    padding: 1em 2em 3em;
    font-size: 1.25rem;
    font-weight: lighter;
    line-height: 2rem;
    text-align: center;
    background-color: #F4F3F4;}

h2 {
    font-size: 2rem;
    line-height: 3.25rem;
    text-align: left;
    color: #2C303F;
    margin-bottom: .25rem;   
}

.social_proof__button {
    font-size: 1rem;
    font-weight: bold;
    padding: 1rem;
    margin-bottom: 2em;
    color: #192592;
    background-color: white;
    border: 1px #192592 solid;
    border-radius: 5px;
}

.social_proof__images {
    display: flex;
    flex-direction: column;
    color: #5b5e6d;
    text-align: left;
    padding: 1em 2em 3em;
    font-size: 1.25rem;
    font-weight: lighter;
    line-height: 2rem;
    text-align: center;
    background-color: #F4F3F4;
}

.social_proof__img {
    border-bottom: .25px #e4e2e4 solid;
    padding: 2em 4em;
}

.social_proof__img:last-of-type {
    border: none;
}

.cta {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    color: #2C303F;
    text-align: center;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
    font-size: 1.25rem;
    font-weight: lighter;
    line-height: 2rem;
    border-bottom: .5px #F4F3F4 solid;
}

.cta__h3 {
    margin-bottom: 0;
}

.footer_logo {
    width: 150px;
}


.main_footer {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    margin-left: 2em;
    margin-right: 2em;
}


.footer__items {
    flex-basis: 50%;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    text-decoration: none;
    padding-bottom: 1em;
}

.footer__item {
    text-decoration: none;
    color: #5b5e6d;
    padding-top: 1em;
    padding-right: 3em;
    font-size: 1.1rem;
    font-weight: lighter;
    cursor: pointer;
}

.footer__h3 a {
    text-decoration: none;
    color: #5b5e6d;

}

.sub_footer {
    padding-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F4F3F4;
}

.sub_footer__essentials {
    display: flex;
    justify-content: space-evenly;
}

.sub_footer__link {
    text-decoration: none;
    padding: .5em 1em;
    color: #5b5e6d;
    font-size: 1rem;
    cursor: pointer;
}

.language {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    vertical-align: baseline;
}

.fas {
    margin: .5em;
    color: #5b5e6d;
}

.language__choice {
    margin: .5em;
    color: #5b5e6d;
}
.language__img{ 
    height: 24px;
    margin: .5em;   
}

.sub_footer__social {
    display: flex;
    justify-content: space-evenly;
}

.fab {
    margin: .75em;
    color: #5b5e6d;
}

@media only screen and (min-width: 767px) {
    .sign_up {
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: baseline;
    }
    
    .sign_up__input {
        margin-right: 1rem;
        margin-bottom: 0;
    }

    .sign_in {
        align-self: flex-start;
        font-size: 1rem;
        margin-bottom: 2.5rem;
    }

    .social_proof__button {
        width: 30%;
        align-self: center;
    }

    .social_proof__images {
        flex-direction: row;
        flex-wrap: wrap;
        padding-bottom: 0;
    }

    .social_proof__img {
        max-width: 50%;
        border-bottom: .25px #e4e2e4 solid;
    }

    .social_proof__img:last-of-type {
        border-bottom: none;
    }

    .social_proof__img:nth-last-of-type(2) {
        border-bottom: none;
    }

    .social_proof__img:nth-of-type(even) {
        border-left: .25px #e4e2e4 solid;
    }

    .cta {
        flex-direction: row;
        align-items: center;
        align-content: space-between;
        margin-bottom: 1rem;
    }

    .cta_text__wrapper {
        flex-basis: 50%;
        text-align: left;
    }

    .cta_form__wrapper {
        flex-basis: 50%;
    }

    .sign_up__input,
    .sign_up__button {
        flex-basis: 50%;
    }

    .cta_text__wrapper p {
        margin-top: 0;
    }

    .main_footer_wrapper {
        display: flex;
        justify-content: center;
    }

    .main_footer {
        flex-wrap: nowrap;
    }

    .footer_logo {
        align-self: flex-start;

    }

    .sub_footer {
        flex-direction: row;
        justify-content: space-between;
    }

    #sub_footer_wrapper {
        display: flex;
    }

}

@media only screen and (min-width: 960px) {
    
    .social_proof__img {
        max-width: 33%;
        border-bottom: .25px #e4e2e4 solid;
    }

    .social_proof__img:nth-last-of-type(3) {
        border-bottom: none;
    }

    .social_proof__img:nth-of-type(even) {
        border-left: none;
    }

    .social_proof__img:nth-of-type(3) {
        border-left: .25px #e4e2e4 solid;
    }

    .social_proof__img:nth-of-type(2) {
        border-left: .25px #e4e2e4 solid;
    }

    .social_proof__img:nth-of-type(5) {
        border-left: .25px #e4e2e4 solid;
    }

    .social_proof__img:nth-of-type(6) {
        border-left: .25px #e4e2e4 solid;
    }

    .main_footer_wrapper {
        justify-content: space-between;
    }
}

@media only screen and (min-width: 1200px) {
    .header {
        margin-top: 4rem;
        display: flex;
        flex-direction: row-reverse;
    }
}
